VITE_API_URL=http://localhost:3001
VITE_GALERIE_SHEET_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSHqtHayi6EVMkNkijzkyMhyG-BHEKApW3erppwKO4f73vVm2PBpAAnEL-weALbhKhkmlrZ23T8UhwL/pub?gid=0&single=true&output=csv
